#left,#right,#middle{
  width: 400px;
  height:400px;
  background:rgba(235, 232, 232, 0.32);
  padding: 10px;
  color: rgb(0, 0, 0);
  border-radius:10px;
  border: 20px;
  text-align: center;
}
body{
  background-color:rgb(255,255,255);

}
img{
  width: 300px;
  height: 250px;
}

#right{
  float:right;
  margin: 10px 200px 0px 0px ;
}
#left{
  float:left;
  margin: 10px 0px 0px 200px ;
}

#middle{
  float: left;
  margin: 10px 0px 0px  400px;
}
#dabiaoti{
  color: rgba(0, 0,0, 1);
  font-size: 80px;
  font-family: calibrib;
  text-align:center;
}

a{
    margin-top: 300px;
    margin-right: 50px;
    float: right;
    text-decoration:none;
    color:#2E8B57;
    font-size: 30px;
    font-weight: bold;
    line-height: 200px;
}

